/* style.css */

.bg-red {
  background-color: #ff6961;
}

.bg-green {
  background-color: #77dd77;
}

.bg-blue {
  background-color: #aec6cf;
}

.bg-yellow {
  background-color: #fdfd96;
}

.bg-orange {
  background-color: #ffb347;
}

.bg-pink {
  background-color: #ffbfd3;
}

.bg-purple {
  background-color: #cda4de;
}

.bg-teal {
  background-color: #77d8d8;
}

.bg-brown {
  background-color: #b79a82;
}

.bg-gray {
  background-color: #cfcfc4;
}
